{{ template "header" . }}

{{ $ses_id := .session.id }}
{{ $GET := .GET }}
{{ $UD := .UD }}
{{ $noF := .noF  }}

<div class="notes_wrapper">
  <div class="explore">

    <div class="explores">

      {{ if .followings }}
        {{ range $f := .followings }}
          <div class="explores_list">
            <div class="exl_main">
              <img src="/users/{{ $f.followTo }}/avatar.png" alt="" srcset="">
              <div class="exl_content">
                <span class="exl_username">{{ call $UD $f.followTo $ses_id }}</span>
                <div class="exl_desc">
                  <span class="exl_email">{{ call $GET $f.followTo "email" }}</span>
                  <span class="exl_desc_sep">•</span>
                  <span class="exl_followers">{{ call $noF $f.followTo }} Followers</span>
                </div>
              </div>
            </div>
            <div class="exl_ff">
              <a href="/profile/{{ $f.followTo }}" class="pri_btn">Profile</a>
            </div>
          </div>
        {{ end }}
      {{ end }}

      {{ if not .followings }}
        {{ template "nothing" .no_mssg }}
      {{ end }}

      {{ if .followings }}
        {{ template "end" }}
      {{ end }}

    </div>

  </div>
</div>

{{ template "footer" }}
