{{ template "header" . }}

<div class="notes_wrapper">
  <div class="home">

    <div class="home_info">
      <span>{{ len .posts }} Notes</span>
      <a href="/create_post" class="pri_btn">Create Post</a>
    </div>

    {{ if not .posts }}
      {{ template "nothing" "No posts for you. Go ahead and create one!!" }}
    {{ end }}

    {{ if .posts }}
      {{ template "post" . }}
    {{ end }}

    {{ if .posts }}
      {{ template "end" }}
    {{ end }}

  </div>
</div>

{{ template "footer" }}
