{{ template "header" . }}

<div class="notes_wrapper">

  <div class="log_sign">
    <a href="/signup" class="pri_btn">Need an account?</a>
  </div>

  <div class="register cua ">
    <div class="display_text">
      <span>Get started again</span>
    </div>
    <form class="form_login">
      <input type="text" name="username" value="" class="l_username" autofocus required spellcheck="false" autocomplete='false'
        placeholder='Username'>
      <input type="password" name="password" value="" class="l_password" required placeholder='Password'>
      <input type="submit" name="" value="Login to continue" class="l_submit">
    </form>
  </div>

</div>

{{ template "footer" }}
