{{ template "header" . }}

<div class="notes_wrapper">

  <div class="log_sign">
    <a href="/login" class="pri_btn">Already have an account?</a>
  </div>

  <div class="register cua ">
    <div class="display_text">
      <span>Get started now and let the fun begins</span>
    </div>
    <form class="form_register">
      <input type="text" name="username" value="" class="r_username" autofocus spellcheck="false" autocomplete='false' placeholder='Username'
        required>
      <input type="email" name="email" value="" class="r_email" spellcheck="false" autocomplete='false' placeholder='Email' required>
      <input type="password" name="password" value="" class="r_password" placeholder='Password' required>
      <input type="password" name="password_again" value="" class="r_password_again" placeholder='Password again' required>
      <input type="submit" name="" value="Signup for free" class="r_submit">
    </form>
  </div>

</div>

{{ template "footer" }}
