@import '_defaults';

.notes_wrapper{
  margin-top: 70px;
}

.index_header{
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1;
  top: 0px;

  & .right{
    float: right;
    position: relative;
    right: 70px;
    top: 21px;

    & a{
      border: 1px solid $ee;
      outline: none;
      padding: 4px 16px;
      border-radius: 3px;
      font-size: 14px;
      margin-right: 5px;
      color: #3d464d;
      background: $ff;

      & a[href='help']{ margin-right: 0px; }

      & .index_header > .right > a[href="about"]{ margin-right: 5px; }

      &:hover{ background: $second_border; }

      &:focus{ background: $second_border; }

    }

  }

}

.header_loggedin{
  background: $ff;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  height: 45px;
  background: white;
  z-index: 2;
  top: 0px;

  & a{
    font-size: 14px;
    color: $dark;
    margin-left: 7px;
    padding: 5px 12px;
    border-radius: 3px;
    display: inline-block;

    &:hover{ background: $second_border; }

    &:focus{ background: $second_border; }

  }

  & .left{
    display: inline-block;
    position: relative;
    top: 8px;
    left: 25px;
  }

  & .right {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 3%;
  }

}

.display_text {
  text-align: center;
	margin-bottom: 30px;

	& > span{
		font-size: 23px;
		color: #0b867a;
	}

}

.log_sign{
  position: absolute;
  right: 50px;
  top: 88px;

	& > a{
		padding: 5px 18px;
		border-radius: 4px;
		font-size: 14px;
	}

}

// for active links
.ha_active{ background: $second_border; }

// REGISTER FORM
.cua{
  width: 300px;
  position: relative;
  top: 130px;
  left: 530px;

  & form {

    & input{
      display: block;
      margin-bottom: 10px;
      width: 92%;
      padding: 8px 10px;
      font-size: 14px;
    }

  }

  & input[type='submit']{
      width: 99%;
  }

}

.register form {

  & .new_user {
    margin-top: -1px;
  }

}

// FOR NOTE
.note{
  position: relative;
  background: $ff;
  padding: 10px;
  display: block;
  font-size: 14px;
  border: 1px solid $header_border;
  border-radius: 3px;
  margin-bottom: 10px;
  cursor: pointer;

  &:hover{
    border-color: $ee;
  }

  & .note_header{
    margin-bottom: 7px;

    & img{
      height: 31px;
      width: 31px;
      border-radius: 50%;
      display: inline-block;
    }

    & .note_h_left{
      display: inline-block;
      margin-left: 5px;
      width: 90%;

      & .note_username{
        display: block;
        color: $dark;
        font-weight: 600;
        position: relative;
        top: 2px;
      }

      & .note_time{
        font-size: 13px;
        color: $d_light;
        position: relative;
        top: -1px;
      }

    }

  }

  & .note_title, & .note_content{
    color: $dark;
  }

  & .note_title{
    margin-bottom: 4px;
    font-weight: 600;
  }

}

// WELCOME AND ERROR PAGE
.welcome_div{
  @include center;
  & img{
    height: 300px;
  }
}

.error_div{
  width: 436px;

  .error_info{
    margin-bottom: 10px;
    width: 100%;
    & span{
      font-size: 20px;
    }
  }

  .error_bottom {
    text-align: right;
    margin-top: 3px;

    & a{
      display: inline-block;
      padding: 4px 15px;
      font-weight: 600;
      font-size: 14px;

      &:last-of-type{
        margin-left: 5px;
      }

    }

  }


}

// EDIT
.edit{
  position: relative;
  width: 400px;
  left: 490px;
  font-size: 14px;
  top: 40px;

  & > * {
    display: block;
    width: 100%;
    margin-top: 15px;
  }

  & .eb_btns{
    text-align: right;

    & a{
      display: inline-block;
      margin-right: 23px;
      padding: 5px 20px;
    }

    & form{
      display: inline-block;
      & .avatar_span{
        display: inline-block;
        padding: 5px 10px 6px 10px;
        margin-right: 7px;
      }
    }

  }

  & .edit_span{
    color: $d_light;
    display: block;
    position: relative;
    font-size: 14px;
    margin-bottom: 5px;
  }

  & .edit_info{

    & img{
      width: 35px;
      height: 35px;
      border-radius: 50%;
      position: relative;
      display: inline-block;
    }

    & span {
      position: relative;
      top: -12px;
      left: 8px;
      font-size: 18px;
      font-weight: 600;
    }

  }

  & input[type='text'],
  & input[type='email'],
  textarea{
    width: 90%;
    padding: 8px;
    font-size: 14px;
  }

  & textarea{
    height: 200px;
  }

  & .e_joined{
    text-align: right;
    width: 94%;
  }

}

.edit_profile{
  top: 25px;
}

// HOME
.home{
  position: relative;
  width: 607px;
  margin-left: 365px;
  margin-bottom: 60px;

  & .home_info{
    margin-bottom: 10px;
    background: $ff;
    padding: 14px 10px;
    border: 1px solid $header_border;
    border-radius: 3px;
    font-size: 15px;

    & a{
      position: absolute;
      right: 10px;
      padding: 4px 12px;
      top: 10px;
    }

  }

}

// PAGE END
.page_end{
  padding: 10px;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  color: $d_light;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid $fb;

  &:hover{ border: 1px solid $ee; }

}

// PROFILE PAGE
.profile {
  position: absolute;
  text-align: center;
  background: #fff;
  padding: 10px;
  border-radius: 3px;
  width: 300px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,.1);
  top: 175px;
  left: 140px;

  & img {
    position: relative;
  }

  & div.profile_content {
    font-weight: 600;
    font-size: 15px;
  }

}

// PROFILE PAGE
.aligner{
	position: relative;
	width: 614px;
	left: 367px;

	.user_banner{
		text-align: center;
		position: relative;
		background: $ff;
		padding: 15px;
		border: 1px solid $header_border;
		border-radius: 4px;

		.user_buttons{
			position: absolute;
			right: 15px;
			top: 15px;

			&>a{
				padding: 5px 15px;
				font-size: 14px;
				display: inline-block;
				margin-right: 5px;

			}

		}

		& .profile_img_div{
			margin-top: 10px;
			& img{
				border-radius: 50%;
				height: 150px;
				width: 150px;
			}
		}

		& .user_info{
			margin-top: 10px;

			& a.user_main_link{
				font-weight: 600;
				color: $dark;
				display: block;
				font-size: 16px;
			}

			& .user_no_notes{
				color: $d_light;
				font-size: 13px;
			}

			& .user_bio{
				text-align: center;
				font-size: 14px;
				margin-top: 7px;
      }

      & .no_bio{
        font-style: italic;
        color: $d_light;
      }

			& hr{
				margin: 25px 0px 10px 0px;
				border-top: 1px solid #f5eded;
			}

			& .user_stats{
				text-align: center;

				&>div, &>a{
					display: inline-block;
					padding: 7px 40px;
					text-align: center;
					position: relative;
					cursor: pointer;
					border-radius: 3px;
					color: inherit;

					&:hover{
						background: $second_border;
					}

					& .stat_hg{
						display: block;
						font-size: 15px;
						font-weight: 600;
					}

				}

				& .stat_disabled{
					cursor: text !important;
					&:hover{ background: $ff; }
				}

			}

		}

	}

	.filter_notes{
		position: relative;
		margin-top: 15px;

		& > input[type="text"]{
			font-size: 14px;
			padding: 8px;
			width: 97%;
		}

	}

	.notes{
		margin-top: 15px;
		margin-bottom: 50px;
	}

}

// BLOG PAGE
.blog{
  position: relative;
  font-size: 14px;
  background: #fff;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,.1);
  top: 80px;

  & > * {
    display: block;
    margin-bottom: 15px;
  }

  & .blog_actions {
    margin-bottom: 0px;

    & .b_a_left {
      text-align: left;
      position: absolute;
      display: flex;

      & .lu_post{
        display: inline-block;
        height: 24px;
        position: relative;
        top: 2px;
        margin-right: 8px;
        cursor: pointer;
        color: $d_light;

        &:hover{
          color: $dark;
        }

      }

    }

    & .b_a_right {
      text-align: right;
    }

    & a {
      padding: 4px 10px;
      display: inline-block;
    }

  }

  & .blog_c {

    & .blog_title {
      font-weight: 600;
      font-size: 17px;
      display: block;
      margin-bottom: 5px;
    }

    & .blog_content {
      display: block;
    }

  }


}

// EXPLORE PAGE
.explore{

  & .explores{
    display: inline-block;
    width: 615px;
    margin-left: 365px;

    & div.explores_list{
      position: relative;
      background: $ff;
      // width: 100%;
      padding: 10px;
      border-radius: 3px;
      border: 1px solid $header_border;
      margin-bottom: 10px;

      &:hover{ border-color: $ee; }

      & .exl_main{

        & img{
          width: 45px;
          height: 45px;
          border-radius: 50%;
        }

        & .exl_content{
          display: inline-block;
          position: relative;
          top: -8px;
          margin-left: 7px;

          & .exl_username{
            color: $dark;
            font-size: 14px;
            font-weight: 600;
          }

          & div.exl_desc{
            color: $d_light;

            & span.exl_desc_sep{
              margin-left: 5px;
              margin-right: 5px;
            }

          }

        }

      }

      & .exl_ff{
        position: absolute;
        right: 15px;
        top: 25px;

        & a{
          padding: 5px 20px;
          font-size: 14px;
        }

      }

    }

  }

}
